body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  margin: 0px;
}

#regulate_main {
  height: 460px;
  width: 760px;
  position: absolute;
  margin: 0px;
}

#regulate_app {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#title {
  height: 10%;
  width: 100%;
  font-size: 4vh;
  padding: 1vh;
  text-align: center;
  margin: 0px;
}

#subtitle {
  height: 10%;
  width: 100%;
  font-size: 3vh;
  padding: 2.5vh;
  text-align: center;
  margin: 0px;
}

#graph {
  height: calc(100% - 30px);
  background-color: #EEEEFF;
  width: 100%;
}

#won_message {
    width: 100%;
    position: absolute;
    z-index: 1;
}

#won_text {
  padding-top: 100px;
  height: calc(100% - 130px);
  text-align: center;
  font-size: 100px;
}

#graph_holder {
    height: 80%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

#controls {
    height: 30px;
    width: 100%;
    text-align: center;
}

#simulate_button {
    border: 1px solid black;
    height: 26px;
}
