body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  margin: 0px;
}

#regulate_main {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0px;
}

#regulate_app {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#title {
  height: 10%;
  width: 100%;
  font-size: 8vh;
  padding: : 1vh;
  text-align: center;
  margin: 0px;
}

#subtitle {
  height: 10%;
  width: 100%;
  font-size: 5vh;
  padding: : 2.5vh;
  text-align: center;
  margin: 0px;
}

#graph {
  height: 80%;
  width: 100%;
  margin: 0px;
  background-color: #888888;
}
